.card-why {
  min-height: 400px;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 38px 38px 120px;
  transition: all 0.2s;

  @include laptop {
    padding: 40px;
  }

  @include desktop {
    padding: 70px 72px;
  }

  @include desktop-l {
    min-height: 432px;
    padding: 120px 72px;
  }

  &:hover {
    background-image: none !important;
    background: $color-primary;
    color: #fff;

    h3 {
      color: #fff;
    }

    &::after {
      display: none;
    }
  }

  &:after {
    content: " ";
    background: radial-gradient(40.97% 209.48% at 64.03% 59.03%, rgba(255, 255, 255, 0.79) 0%, rgba(255, 255, 255, 0.82) 58%, #fff 100%);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 0.9;
  }

  >* {
    position: relative;
    z-index: 2;
  }
}

.card-why-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  bottom: 40px;
  display: flex;
  width: 100%;
  justify-content: center;

  @include tablet {
    display: none;
  }
}

.card-why h3 {
  font-weight: 500;
  color: $color-primary;
  font-size: 20px;
  margin-bottom: 20px;

  line-height: 25px;

  @include laptop {
    font-size: 20px;
    line-height: 38px;
    margin-bottom: 14px;
  }

  @include desktop {
    font-size: 28px;
  }
}

.card-why p {
  font-size: 14px;
  font-family: $font-secondary;
  font-weight: 300;
  margin: 0;
  line-height: 22px;

  @include laptop {
    font-size: 14px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 38px;
  }
}

.card-why-tabs__tab-button {
  background-color: #dadada !important;
  border-radius: 50%;
  color: $color-white;
  height: 39px;
  width: 39px;
  font-size: 22px;
  font-weight: 500;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);

  &:focus,
  &:hover,
  &:active,
  &.is-active {
    background-color: $color-primary !important;
  }
}

.card-why-tabs__tab-button:not(:last-child) {
  margin-right: 22px;
}