.clients {
  border-bottom: 1px solid #dadada;
}

.clients__inner {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 24px 40px 0;

  @include laptop {
    padding: 48px 72px;
    justify-content: space-between;
  }
}

.clients__inner img {
  width: 50%;
  max-width: 120px;

  @include tablet {
    width: 30%;
    max-width: 218px;
  }

  @include laptop {
    width: 20%;
  }

  @include desktop {
    width: 15%;
  }

  @include desktop-l {
    width: 20%;
  }
}