.footer {
  background-color: #1e1e1e;
  color: #fff;
}

.footer-contact__item {
  margin-bottom: 40px;

  @include desktop {
    margin-bottom: 50px;
  }
}

.footer-contact__item h3 {
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;

  @include tablet {
    font-size: 16px;
  }

  @include desktop {
    font-size: 20px;
  }
}

.footer-contact__item p {
  font-size: 14px;
  color: $color-white;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;

  @include desktop {
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.middle-col .footer-contact__item p {
  font-size: 16px;
  margin-bottom: 6px;

  @include tablet {
    font-size: 22px;
  }
}

.middle-col {
  @include desktop {
    padding: 0 83px;
  }
}

.footer-contact__item a {
  color: $color-white;
  text-decoration: none;

  &:focus,
  &:hover {
    color: $color-primary;
  }
}

.footer__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 75px 0;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
  }

  @include desktop {
    padding: 105px 70px 149px;
  }
}

.footer__column {
  width: 100%;
  text-align: center;

  @include tablet {
    width: 33%;
    text-align: left;
  }

  @include desktop {
    padding: 0 10px 0;
  }

  @include desktop-l {
    padding: 0 0 0;
  }
}

.footer .middle-col a {
  font-size: 16px;

  @include laptop {
    font-size: 22px;
  }
}

.footer .middle-col .footer-contact__item {
  margin-bottom: 35px;

  @include desktop {
    margin-bottom: 0;
  }
}

.footer .middle-col .footer-contact__item:first-child {
  margin-bottom: 35px;

  @include desktop {
    margin-bottom: 45px;
  }
}

.footer .middle-col .footer-contact__item h3 {
  margin-bottom: 16px;
}

.footer .right-col {
  @include desktop {
    padding: 0;
    justify-content: flex-start;
    align-items: start;
    flex-direction: column;
  }

  @include desktop-l {
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 20%;
  }
}

.footer .right-col p {
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;

  @include tablet {
    margin: 0 20px 0 0;
  }

  @include laptop {
    font-size: 22px;
  }
}

.footer .right-col .footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .left-col .footer-logo img {
  max-width: 160px;
  margin: 0 auto;

  @include tablet {
    margin: 0;
  }

  @include laptop {
    max-width: 100%;
  }
}

.footer .right-col .footer-contact__item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
  gap: 10px;

  @include tablet {
    flex-direction: row;
  }

  @include desktop {
    justify-content: center;
    padding-right: 8px;
    margin-bottom: 16px;
  }

  @include desktop-l {
    padding-right: 20px;
    margin-bottom: 110px;
  }
}

.footer .right-col a svg {
  width: 32px;
  height: 32px;
}

.footer .right-col .footer-logo img:first-child {
  margin-right: 60px;
  height: 80px;

  @include tablet {
    margin-right: 20px;
  }

  @include desktop {
    margin-right: 42px;
    height: 98px;
  }
}

.footer .left-col {
  margin-bottom: 45px;

  @include desktop {
    margin-bottom: 0;
  }

  @include desktop-l {
    width: 36%;
  }
}

.footer .right-col .footer-logo img:nth-child(2) {
  height: 35px;
  width: auto;

  @include desktop {
    height: 44px;
  }
}

.footer .middle-col {
  @include desktop-l {
    width: 40%;
  }
}