.menu-toggle__text {
  display: none;
  position: absolute;
  top: calc(50% - 8px);
  right: 70px;
  color: $color-white;

  .menu-active & {
    display: block;
  }

  @include desktop {
    display: none;
    font-size: 20px;
    top: calc(50% - 10px);
    right: 65px;
  }
}

.menu-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  padding: 0;
  background: none;
  border: 0;

  &:focus,
  &:focus-visible {
    outline: none;
  }

  .menu-active & {
    z-index: 10;
    position: relative;
    display: flex;
  }
}

.menu-icon {
  width: 41px;
  height: 41px;
  position: relative;
  cursor: pointer;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;

  &:focus,
  &:hover,
  &:active {

    .menu-icon__line:nth-child(2),
    .menu-icon__line:nth-child(3) {
      width: 41px;
    }
  }
}

.menu-toggle:not(.active) .menu-icon {
  bottom: -4px;
}

.menu-icon .menu-icon__line {
  display: block;
  position: absolute;
  height: 5px;
  width: 100%;
  background: white;
  border-radius: 3px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}

.menu-icon .menu-icon__line:nth-child(1) {
  top: 0;
}

.menu-icon .menu-icon__line:nth-child(2) {
  top: 14px;
  width: 28px;
}

.menu-icon .menu-icon__line:nth-child(3) {
  top: 28px;
  width: 36px;
}

.menu-toggle.active .menu-icon__line:nth-child(1) {
  top: 18px;
  transform: rotate(135deg);
}

.menu-toggle.active .menu-icon__line:nth-child(2) {
  opacity: 0;
  left: -60px;
  width: 41px;
}

.menu-toggle.active .menu-icon__line:nth-child(3) {
  top: 18px;
  transform: rotate(-135deg);
  width: 41px;
}