.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  transform: translateX(-100%);
  transition-property: transform, opacity;
  transition-duration: $transition-duration * 2;
  height: 100%;
  flex-direction: column;
  align-items: center;

  @include laptop {
    flex-direction: row;
    align-items: center;
    position: static;
    transform: translateX(0);
    transition: none;
  }

  @include desktop {
    justify-content: center;
  }

  @include desktop-l {
    justify-content: flex-end;
  }
}

.menu>.menu__list {
  padding-top: 0;
  margin-top: 160px;
  overflow-y: auto;

  @include laptop {
    margin-top: 0;
    overflow-y: initial;
  }
}

.menu__lang {
  margin-top: 20px;
  font-size: 18px;
  color: #fff;

  @include laptop {
    display: none;
  }

  li:not(:last-child)::after {
    margin-right: 12px;
    margin-left: 12px;
  }
}

.menu--closed {
  position: fixed;
  background-color: $color-primary;
  transform: translateX(-100%);
  padding: 0 20px;
  height: 100%;
  width: 100%;
  color: $color-black;

  @include desktop {
    padding: 0;
  }
}

.menu__list {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  list-style-type: none;
  gap: 32px;
  text-align: center;
  padding-top: 160px;

  @include laptop {
    gap: 0;
    flex-direction: row;
    margin-right: 0;
    padding-top: 0;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
  }

  @include desktop {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include desktop-l {
    padding-left: 40px;
    padding-right: 40px;
  }

  .menu-active & {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 1920px;

    @include desktop {
      column-count: 2;
      column-gap: 200px;
      padding: 0 208px;
      text-align: left;
    }

    @include desktop-l {
      column-gap: 0;
    }
  }

  .menu__list {
    display: none;

    .menu-active & {
      column-count: 1;
      padding-top: 30px;
      margin-bottom: -30px;

      @include desktop {
        position: absolute;
        left: auto;
        top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.menu__link {
  z-index: 1;
  position: relative;
  text-decoration: none;
  font-weight: 300;
  color: $color-white;
  font-size: 24px;
  letter-spacing: 0.5px;
  background: none;
  border: 0;
  padding: 0;
  border-bottom: 1px solid transparent;

  @include laptop {
    font-size: 14px;
  }

  @include desktop-l {
    font-size: 17px;
  }

  @media (min-width: 1800px) {
    font-size: 20px;
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    border-bottom: 1px solid $color-white;
  }

  &.active+.menu__list.active {
    display: block;
  }

  &.active {
    font-weight: 500;
  }

  .menu-active & {
    font-size: 28px;
    transition: none;
  }

  &.dropdown.active {
    font-weight: 600;
    color: #780000;
    opacity: 1 !important;
    border-bottom: 1px solid #780000 !important;
  }
}

.menu__item {
  .menu-active & {
    margin-bottom: 30px;

    @include laptop {
      margin-bottom: 60px;
    }
  }

  @include laptop {
    padding-right: 10px;
    padding-left: 10px;
  }

  @include desktop {
    padding-right: 20px;
    padding-left: 20px;
  }

  @include desktop-l {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.menu__item--submenu .menu__link.dropdown {
  @include laptop {
    display: none;
  }
}

.menu__item--submenu {
  @include laptop {
    position: relative;
    display: flex;
    align-items: center;
    height: 80px;
  }

  @include desktop-l {
    height: 141px;
  }

  &:hover {
    @include laptop {
      background-color: #780000;
    }
  }

  .menu__link {
    border-bottom: 0;
  }

  .menu__item {
    @include desktop {
      padding-right: 0;
      padding-left: 0;
    }
  }

  .menu__list .menu__link {
    &:hover {
      border-bottom: 1px solid #fff;
    }
  }
}

.menu__item--submenu:hover .menu__list {
  @include laptop {
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    width: auto;
    background-color: #780000;
  }

  @include desktop {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  @include desktop-l {
    top: 141px;
  }
}

.menu__item--submenu>a.menu__link {
  display: none;

  @include laptop {
    display: block;
  }
}

.menu.menu--open {
  position: fixed;
  background-color: $color-primary;
  transform: translateX(0);
  transition-property: all;
  transition-duration: $transition-duration * 2;

  @include desktop {
    transition: none;
  }

  .menu__list {
    @include desktop {
      padding-left: 110px;
    }

    @include desktop-l {
      padding-left: 240px;
    }

    .menu__list {
      @include desktop {
        padding-left: 240px;
      }
    }
  }

  .menu__item--submenu>button.menu__link {
    display: block;
    margin: 0 auto;

    @include laptop {
      margin: 0;
    }
  }
}

// @keyframes animate-splash {
//   0% {
//     z-index: 10;
//     opacity: 1;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }