.menu {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateX(-100%);
  transition-property: transform, opacity;
  transition-duration: $transition-duration * 2;
  height: 100%;

  @include laptop {
    align-items: center;
    position: static;
    transform: translateX(0);
    transition: none;
  }

  @include desktop {
    justify-content: center;
  }

  @include desktop-l {
    justify-content: flex-end;
  }
}

.menu--closed {
  position: fixed;
  background-color: $color-primary;
  transform: translateX(-100%);
  padding: 0 20px;
  height: 100%;
  width: 100%;
  color: $color-black;
}

.menu__list {
  position: relative;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  list-style-type: none;
  gap: 32px;
  text-align: center;
  padding-top: 160px;

  @include laptop {
    gap: 24px;
    flex-direction: row;
    margin-right: 0;
    padding-top: 0;
    width: 100%;
    justify-content: space-between;
    padding-left: 36px;
    padding-right: 36px;
  }

  @include desktop {
    gap: 32px;
    padding-left: 72px;
    padding-right: 0;
  }

  .menu-active & {
    display: block;
    width: 100%;
    text-align: center;
    max-width: 1920px;

    @include desktop {
      column-count: 2;
      column-gap: 200px;
      padding: 0 208px;
      text-align: left;
    }

    @include desktop-l {
      column-gap: 0;
    }
  }

  .menu__list {
    display: none;

    .menu-active & {
      column-count: 1;
      padding-top: 30px;
      margin-bottom: -30px;

      @include desktop {
        position: absolute;
        left: auto;
        top: 0;
        padding-top: 0;
        margin-bottom: 0;
      }
    }
  }
}

.menu__link {
  z-index: 1;
  position: relative;
  text-decoration: none;
  font-weight: 300;
  color: $color-white;
  font-size: 24px;
  letter-spacing: 0.5px;
  background: none;
  border: 0;
  padding: 0;
  border-bottom: 1px solid transparent;

  @include laptop {
    font-size: 14px;
  }

  @include desktop-l {
    font-size: 20px;
  }

  &:focus,
  &:hover,
  &:active,
  &.active {
    border-bottom: 1px solid $color-white;
  }

  &.active+.menu__list.active {
    display: block;
  }

  &.active {
    font-weight: 500;
  }

  .menu-active & {
    font-size: 28px;
  }

  &.dropdown.active {
    font-weight: 500;
    color: #780000;
    opacity: 1 !important;
    border-color: #780000;
  }
}

.menu__item {
  .menu-active & {
    margin-bottom: 30px;

    @include laptop {
      margin-bottom: 60px;
    }
  }
}

.menu__item--submenu>a.menu__link {
  display: none;

  @include laptop {
    display: block;
  }
}

.menu__item--submenu button.menu__link {
  @include laptop {
    display: none;
  }
}

.menu.menu--open {
  position: fixed;
  background-color: $color-primary;
  transform: translateX(0);
  transition-property: all;
  transition-duration: $transition-duration * 2;

  @include desktop {
    transition: none;
  }

  .menu__list {
    @include desktop {
      padding-left: 208px;
    }
  }

  .menu__item--submenu>a.menu__link {
    display: none;
  }

  .menu__item--submenu>button.menu__link {
    display: block;
    margin: 0 auto;

    @include desktop {
      margin: 0;
    }
  }
}

// @keyframes animate-splash {
//   0% {
//     z-index: 10;
//     opacity: 1;
//   }

//   50% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }