.page-header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0, 50%;

  @include desktop {
    background-position: 50%, 50%;
  }
}

.page-header--photo .page-header__text {

  @include desktop {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.page-header--contact .page-header__inner {
  @include tablet {
    gap: 0;
  }

  @include desktop {
    min-height: auto;
  }
}

.page-header--contact .page-header__text {
  @include tablet {
    max-width: 100%;
    width: 100%;
    border-right: 1px solid #fff;
  }


  @include laptop {
    width: 68.2%;
  }
}

.page-header--contact .page-header__text p {
  @include tablet {
    font-size: 18px;
    max-width: 450px;
  }
}

.page-header--contact .page-header__aside {
  @include tablet {
    position: relative;
    width: 100%;
  }

  @include laptop {
    width: 31.8%;
    border-left: 0;
  }

  @include desktop-l {
    width: 31.8%;
    right: 0;
  }
}

.page-header--news .page-header__inner,
.page-header--news-item .page-header__inner {
  @include laptop {
    gap: 0;
  }
}

.page-header--news .page-header__aside,
.page-header--news-item .page-header__aside {
  @include tablet {
    border-left: none;
  }

  @include laptop {
    margin-left: auto;
  }

  @include desktop {
    padding: 70px 20px 0 20px;
    width: 32%;
  }

  @include desktop-l {
    padding: 70px 35px 0 35px;
  }
}

.page-header--news-item .page-header__text {
  padding-right: 0;
  padding-left: 0;

  @include tablet {
    padding-right: 25px;
    padding-left: 25px;
  }

  @include desktop {
    padding-left: 70px;
    padding-right: 0;
  }
}

.page-header--news-item .page-header__text h1 {
  padding-right: 25px;
  padding-left: 25px;

  @include tablet {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-header--news .page-header__aside>* {
  margin-right: 0 !important;
  margin-left: auto !important;
  box-sizing: border-box !important;

  @include desktop {
    margin-right: auto !important;
    margin-left: auto !important;
  }
}

.page-header__inner {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  padding-right: 40px;
  padding-left: 40px;
  width: 100%;
  max-width: 1472px;

  @include laptop {
    gap: 50px;
    padding-right: 70px;
    padding-left: 70px;
  }

  @include desktop {
    padding: 0 70px;
    min-height: 576px;
    max-width: 100%;
  }

  @include desktop-l {
    margin-right: auto;
    margin-left: auto;
    padding-left: 216px;
    padding-right: 216px;
    max-width: 1920px;
  }
}

.page-news__wrap {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: #dadada;

    @include desktop {
      top: 140px;
    }
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #dadada;

    @include desktop {
      top: 140px;
    }
  }
}

.page-header__text {
  position: relative;
  text-align: left;
  padding: 40px 25px;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;

  @include tablet {
    max-width: 50%;
    padding: 50px;
    padding-bottom: 40px;
    padding-left: 25px;
    border-right: none;
  }

  @include desktop {
    max-width: 100%;
    width: 58%;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 70px;
  }

  h1 {
    margin-bottom: 32px;
  }

  p {
    font-family: $font-secondary;
    font-weight: 300;
    line-height: 1.9;
    margin: 0;

    @include laptop {
      max-width: 480px;
      font-size: 20px;
    }

    @include desktop {
      max-width: 600px;
    }
  }
}

.page-header__aside {
  width: 100%;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;

  @include tablet {
    width: 50%;
    padding: 40px 25px 0;
    border-right: 1px solid #fff;
  }

  @include laptop {
    width: calc(50% - 50px);
    padding-top: 50px;
  }

  @include desktop {
    width: calc(42% - 50px);
    border-left: none;
    margin-bottom: 0;
    padding-top: 70px;
  }

  >* {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;

    @include desktop {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

.page-header--contact .page-header__aside .card {
  box-shadow: 0px 4px 46.7px 0px #D620284D;

  @include tablet {
    border-left: 0;
    max-width: 100%;
    column-count: 2;
  }

  @include laptop {
    position: absolute;
    right: 0;
    left: 0;
    padding-top: 50px;
    max-width: 350px;
    column-count: 1;
  }

  @include desktop {
    margin-right: auto !important;
    margin-left: auto;
    padding-top: 70px;
    max-width: 300px;
  }

  @include desktop-l {
    max-width: 340px;
  }

  >* {
    max-width: 338px;
    break-inside: avoid-column;

    @include laptop {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.page-header__photo {
  position: relative;
}

.page-header__photo img {
  object-fit: cover;
  height: 326px;
  width: 100%;
}

.page-header__news-date {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 20px 54px;
  font-size: 20px;
}

.page-header__text h1 {
  font-size: 24px;
  font-weight: 500;

  @include desktop {
    font-size: 48px;
    margin-bottom: 50px;
  }

  @include desktop-l {
    margin-top: 50px;
  }
}

.page-header__text p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.9;

  @include tablet {
    font-size: 16px;
  }

  @include laptop {
    font-size: 20px;
  }
}

.page-header--news-item .page-header__inner {
  &:after {
    @include laptop {
      right: 70px;
    }

    @include desktop-l {
      right: 216px;
    }
  }
}

.page-header--news-item .page-header__text {
  @include tablet {
    max-width: 100%;
    width: 100%;
    padding-right: 25px;
    border-right: 1px solid #fff;
  }

  @include laptop {
    padding-bottom: 0;
  }

  @include desktop {
    max-width: 68%;
    width: 68%;
    border-right: 0;
    border-right: 1px solid #fff;
    padding-right: 0;
  }
}

.page-header--news-item .page-header__aside {
  &:after {
    display: none;
  }

  @include tablet {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-top: 50px;
    padding-right: 0;
    border-left: 1px solid #fff;
  }

  @include desktop {
    width: 32%;
    left: 0;
    margin-right: 0;
    border-left: 0;
  }
}

.page-header--slider {
  overflow: hidden;
}

.page-header--slider .page-header__text {
  max-width: 100%;

  @include laptop {
    width: 50%;
  }
}

.page-header--slider .swiper-button-prev {
  position: absolute;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  left: 31px;
  top: 0;
  bottom: 0;
  margin: auto;

  @include desktop {
    left: 23px;
  }
}

.page-header--slider .swiper-button-next {
  position: absolute;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  right: 31px;
  top: 0;
  bottom: 0;
  margin: auto;

  @include desktop-l {
    right: 23px;
  }
}

.page-header--slider .page-header__aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  width: 100%;

  @include laptop {
    gap: 30px;
    justify-content: center;
    width: 50%;
    padding: 70px 0 25px;
    border-left: 1px solid #fff;
  }

  @include desktop-l {
    justify-content: start;
  }
}

.page-header--slider .page-header__inner {
  gap: 0;
}

.page-header--slider h1 {
  font-size: 28px;

  @include desktop {
    font-size: 48px;
  }
}

.page-header--slider p {
  font-size: 14px;

  @include tablet {
    font-size: 16px;
  }

  @include laptop {
    font-size: 20px;
  }
}