.section-contact {
  overflow: hidden;

  .container {
    position: relative;

    &:after {
      @include laptop {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        top: 0;
        right: 70px;
        background-color: #dadada;
      }

      @include desktop-l {
        right: 216px;
      }
    }
  }
}

.section-contact__form {
  position: relative;
  max-width: 1000px;
  padding: 80px 25px;

  @include laptop {
    max-width: 68.2%;
  }

  @include desktop {
    max-width: 68.2%;
    padding-top: 40px;
    padding-right: 70px;
    padding-left: 70px;
  }
}