.section-benefits {
  position: relative;
  overflow: hidden;
  min-height: 680px;
  background-image: url("../images/windmills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 85% 0;

  h2 {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    padding-right: 40px;
    padding-left: 40px;

    @include tablet {
      text-align: center;
    }

    @include desktop {
      margin-bottom: 95px;
    }
  }

  @include tablet {
    height: 800px;
    background-size: cover;
    background-position: 0 0;
  }

  @include desktop {
    height: 1000px;
  }

  [data-tab-content] {
    background-repeat: no-repeat;
    background-size: contain;
  }

  .sun {
    position: absolute;
    top: 20%;
    left: -40%;
    width: 440px;
    height: 360px;
    background-image: url("../images/sun.png");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: 0;
      left: -15%;
    }


    @include desktop {
      left: -20%;
      top: -10%;
      width: 610px;
      height: 700px;
    }

    @include desktop-l {
      left: -15%;
    }
  }

  .cloud1 {
    position: absolute;
    top: -25%;
    width: 416px;
    left: -50%;
    height: 232px;
    background-image: url("../images/cloud1.png");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: 5%;
    }

    @include desktop {
      left: -15%;
      width: 416px;
      height: 233px;
    }
  }

  .cloud2 {
    position: absolute;
    top: -50%;
    width: 376px;
    left: 19%;
    height: 212px;
    background-image: url("../images/cloud2.png");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: -20%;
    }

    @include desktop {
      width: 752px;
      height: 425px;
      top: -20%;
      left: 12%;
    }
  }

  .cloud3 {
    position: absolute;
    top: 0;
    left: 59%;
    width: 284px;
    height: 160px;
    background-image: url("../images/cloud3.png");
    background-size: contain;
    background-repeat: no-repeat;

    @include tablet {
      top: -5%;
    }

    @include desktop {
      width: 568px;
      height: 321px;
      top: -14%;
      left: 63%;
    }
  }
}

.section-benefits__cards {
  z-index: 3;
  display: flex;
  gap: 60px;
  position: relative;
  margin-right: -20px;
  margin-left: -20px;

  @include tablet {
    gap: 20px;
  }

  @include laptop {
    gap: 60px;
  }

  @include desktop {
    margin-right: -35px;
    margin-left: -35px;
  }

  @include desktop-l {
    margin-right: -70px;
    margin-left: -70px;
  }

  >* {
    width: 100%;
  }

  +.cards-tabs {
    z-index: 4;
    margin-right: -20px;
    margin-left: -20px;
    width: auto;
  }
}

.section-benefits__inner {
  min-height: 680px;
  position: relative;
  max-width: 1630px;
  margin-right: auto;
  margin-left: auto;
  padding: 50px 0 40px;

  @include tablet {
    min-height: 1000px;
  }

  @include desktop {
    padding-top: 130px;
  }
}

.section-benefits__links {
  z-index: 1;
  position: relative;
  margin-top: 30px;
  text-align: center;
  font-weight: 600;
  font-family: $font-secondary;
  font-size: 20px;
  color: $color-primary;

  @include laptop {
    margin-top: 40px;
  }

  a {
    font-size: 15px;
    display: block;
    max-width: 234px;
    margin: 0 auto;
    padding: 16px;
    background-color: $color-primary;
    color: #fff;
    font-weight: 400;
    text-decoration: none;

    @include desktop {
      max-width: 100%;
      font-weight: 600;
      font-size: 20px;
      background-color: transparent;
      text-decoration: underline;
      color: $color-primary;
    }
  }
}

.cards-tabs {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  border: 1px solid $color-primary;
  border-top: 0;
  padding: 20px;
  background-color: #fff;
  margin-top: -1px;
  position: relative;

  @include tablet {
    display: none;
  }
}

.cards-tabs__tab-button {
  padding: 0 0 10px;
  border-bottom: 3px solid #dadada;

  &.is-active {
    border-color: $color-primary;

    svg {
      fill: $color-primary;
    }
  }

  svg {
    fill: #dadada;
    height: 32px;
    pointer-events: none;
  }
}