.services {
  @include laptop {
    overflow: hidden;
  }
}

.services__inner {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 36px;

  @include laptop {
    flex-direction: row;
    padding: 110px 40px 55px;
  }


  @include desktop-l {
    padding: 220px 76px 55px;
  }
}

.services__list {
  flex-shrink: 0;
  position: relative;
  margin-bottom: 40px;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: calc(100% + 76px * 2);
    left: 0;
    margin: 0 -76px;
    height: 1px;
    background-color: #dadada;

    @include laptop {
      display: none;
    }
  }

  @media (min-width: 800px) and (max-width: 1024px) {
    display: flex;
    align-items: center;
    padding-bottom: 36px;
  }

  @include laptop {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    width: 32.7%;
    padding-right: 40px;
  }

  li {
    font-weight: 600;
    font-family: $font-primary;
  }

  a {
    display: block;
    background-color: $color-primary;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: 234px;
    width: 100%;
    padding: 17px;
    margin-right: auto;
    margin-left: auto;

    @include laptop {
      display: inline-flex;
      padding: 0;
      width: max-content;
      max-width: 100%;
      margin-top: 68px;
      margin-right: 0;
      margin-left: 0;
      background: none;
      color: $color-primary;
    }

    &:after {
      display: none;

      @include laptop {
        display: block;
      }
    }
  }
}

.services__slider {
  position: relative;

  @include laptop {
    width: 68.3%;
    padding-left: 51px;
  }

  &:before {
    @include laptop {
      content: "";
      position: absolute;
      width: 1px;
      height: calc(100% + 290px);
      background: lightgrey;
      display: block;
      left: 0;
      top: -145px;
    }
  }

  .slider-services {
    z-index: 3;
    padding: 50px 100px;
    margin: -50px -100px;
    margin-right: -76px;
    padding-right: 76px;
    padding-bottom: 60px;

    @include laptop {
      padding: 50px;
      margin: -50px;
      margin-right: -140px;
      padding-right: 140px;
    }

    @include desktop-l {
      margin-right: -279px;
      margin-bottom: 0;
    }

    @media (min-width: 1921px) {
      margin-right: -50%;
    }
  }
}