.slider-services {
  margin-bottom: 20px;
}

.slider-services__controls {
  position: absolute;
  bottom: -20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  right: 0;
  left: 0;

  @include laptop {
    justify-content: flex-end;
    margin: 20px 0 0 0;
    position: static;
  }

  @include desktop-l {
    margin: 0;
  }
}

.slider-services .card--service {
  max-width: 100%;
}

.slider-services .card--service img {
  width: 100%;
}