$tab-active-background-color: $color-primary;
$tab-active-color: $color-white;
$tab-border-color: $color-secondary;

.tabs {
  display: flex;
  gap: 16px;
}

.tab-button {
  background: none;
}