section.clients.background-default
  .container
    .clients__inner.border-left.border-right
      img(src="images/clients_logo_aalberts.jpg" width="218" height="191" alt="aalberts.")
      img(src="images/clients_logo_aluso.jpg" width="218" height="191" alt="aluso.")
      img(src="images/clients_logo_auping.jpg" width="218" height="191" alt="auping.")
      img(src="images/clients_logo_aliplast.jpg" width="218" height="191" alt="aliplast.")
      img(src="images/clients_logo_sapa.jpg" width="218" height="191" alt="sapa")