section.clients.background-default
  .container
    .swiper.slider-clients.border-left.border-right
      .swiper-wrapper
        .swiper-slide
          img(src="images/clients_logo_aalberts.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_aluso.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_auping.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_aliplast.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_sapa.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_aalberts.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_aluso.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_auping.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_aliplast.jpg" alt="")
        .swiper-slide
          img(src="images/clients_logo_sapa.jpg" alt="")
