footer.footer
  .container
    .footer__inner.border-left.border-right
      .footer__column.left-col
        .footer-contact__item
          h3 Glasbeek Finish BV
          p Noordkade 20
          p 2741 EV  Waddinxveen
          p Nederland
        .footer-logo
          img(src="images/glasbeek-logo-white.svg", alt="")
      .footer__column.middle-col
        .footer-contact__item
          h3 Bel ons:
          a(href="tel:+31 (0) 182 322 422") +31 (0) 182 322 422
        .footer-contact__item
          h3 Mail ons:
          a(href="mailto:info@glasbeek.com") info@glasbeek.com
      .footer__column.right-col
        .footer-contact__item
          h3 Volg ons op:
          a(href="/") 
            +svg('linkedin')
        .footer-logo
          img(src="images/iso-logo.svg" width="98" height="100" alt="")
          img(src="images/vca-logo.svg" width="97" height="44" alt="")