header.header.background-muted
  .container.header-container
    .header__inner
      .header__inner-wrap
        a.header__logo(href="/")
          img.logo(src="images/logo.svg" alt="glasbeek logo." width="224" height="56")
        .header__lang
          ul.lang
            li 
              a(href="/") NL
            li
              a(href="/en") EN
            li 
              a(href="/de") DE
      .header__menu
        +menu
      .header__menu-toggle
        button.menu-toggle-open.js-open-menu(type="button")
          +svg('menu-open')
        button.menu-toggle-close.js-close-menu(type="button")
          .menu-toggle-close__text Sluiten
          +svg('menu-close')