section.background-muted.hero
  .container
    .hero__inner.border-left.border-right
      .hero__text
        h1 Innovatieve en <span class="scribble">duurzame<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 230 40" fill="none" data-scrollspy="animate"><path stroke="#d62028" d="M2 3C14.216 3 26.5006 3.11111 38.7778 3.11111C87.0349 3.11111 135.585 1.54778 183.833 3.05555C198.038 3.49946 212.158 4 226.389 4C243.068 4 193.065 5.60755 176.389 5.94444C145.346 6.57157 114.273 7.85283 83.2222 8C73.698 8.04513 45.1683 8.29642 54.6667 9C87.3701 11.4225 185.793 12 153 12" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span> poederlakinstallaties
        ul.hero__list
          li
            +svg('electric')
            p Electric
          li
            +svg('hybrid')
            p Hybrid
          li
            +svg('fire')
            p Classic
      .hero__image
        img(src="images/hero-background.jpg" width="312" height="312" alt="")