section.section.section-specs.background-default.pt-0.pb-0
  .container
    .section-specs__header.border-left.border-right
      div.section-specs__title-wrap
        h2 Dit zijn de <span class="scribble">kenmerken<svg xmlns="http://www.w3.org/2000/svg" height="40" viewBox="0 0 187 40" fill="none" data-scrollspy="animate"><path stroke="#d62028" d="M2.10035 2C60.9325 2 118.842 4.46911 177.467 4.46911C233.877 4.46911 -46.877 7.22561 9.53301 7.22561C48.3259 7.22561 92.7722 12 131.436 12" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span> van de duurzame en betrouwbare voorbehandelingsinstallaties van Glasbeek
        <svg class="arrow-bottom" data-scrollspy="animate" xmlns="http://www.w3.org/2000/svg" height="60" viewBox="0 0 59.5 181"><path class="arrow-body" d="M32.5 2.4S104.2 90 4.4 174.9" style="fill:none;stroke:#d62028;stroke-linecap:round;stroke-width:3px;stroke-miterlimit:10"/><path class="arrow-head" d="m4.8 162.6-2.7 13.5 12.4 2.5" style="stroke-linejoin:round;fill:none;stroke:#d62028;stroke-linecap:round;stroke-width:3px"/></svg>
      .section-specs__body.background-muted
        h3 Toepasbaar op:
        ul.list
          li
            span Staal
          li
            span Aluminium
          li
            span Lichtmetaal
          li
            span Roestvast staal - RVS
          li
            span Verzinkt staal
          li
            span Gietijzer
          li
            span Composiet / kunststof
    ul.specs-list
      li.specs-list__item
        h3 Lange levensduur
        p Achter iedere duurzame Glasbeek badenreeks staat meer dan 100 jaar ervaring en ontwikkeling. Bij de fabricage worden uitsluitend de beste materialen gebruikt die garant staan voor een lange levensduur en minimale onderhoudskosten.
      li.specs-list__item
        h3 ECO verwarming
        p De procesbaden kunnen op twee manieren worden verwarmd. Direct door middel van zeer efficiënte elektrische verwarmingselementen of indirect door middel van een CV-ketel. De CV-ketel kan zowel worden uitgevoerd met een duurzame brander of door middel van elektrische elementen. In alle gevallen is het systeem uitgerust met digitaal verwarmingsmanagement voor een spaarzame werking en is eenvoudig in bediening en onderhoud.
      li.specs-list__item
        h3 Efficiënte pompen 
        p Glasbeek selecteert de industriepompen zorgvuldig op een combinatie van het werken onder zware omstandigheden en een hoge betrouwbaarheid. Frequentieregeling op de pompen past het toerental van de motor aan en daarmee de capaciteit en opvoerhoogte van de pomp aan de exacte capaciteitsbehoefte. De toerenregeling verhoogt het energiebesparingspotentiaal van pompen tot 60%.
      li.specs-list__item
        h3 Auto spoelwaterregeling 
        p Het spoelwaterverbruik minimaliseren door spoelbaden in cascade te zetten en gebruik te maken van een automatische spoelwaterregeling op geleidbaarheid.
      li.specs-list__item
        h3 Comfort regeling 
        p De verwarmde procesbaden worden automatisch buiten de productie-uren opgestart. Verdere optimalisatie in gebruiksgemak kan wordt bereikt met automatische niveaubewaking, spoelwaterregeling, chemicaliën doseersystemen, etc.
      li.specs-list__item
        h3 Auto start/stop functie 
        p Pompen en luchtagitatie worden automatisch en gefaseerd in- en uitgeschakeld bij Start Stop van de productie. De Start Stop functie ondersteunt u bij het bereiken van een bijzonder efficiënt energie- en waterverbruik.
      li.specs-list__item
        h3 Milieubewust 
        p Voor elke voorbehandelingsinstallatie leveren wij een passende oplossing voor proceswaterbereiding, waterrecycling en afvalwaterzuivering.
      li.specs-list__item
        h3 PLC & Touchscreen 
        p Zorgvuldig ontwikkelde technologieën zijn op het Touchscreen te monitoren en te bedienen in een overzichtelijk PLC-menu. Assistentie op afstand is met een internetaansluiting snel en gebruiksvriendelijk.
