mixin card-feature(name, icon, items)
  article.card-feature 
    .card-feature__header 
      h3= name
      .card-feature__icon
        +svg(icon)
    .card-feature__body 
      ul.card-feature__list.list
        each item in items 
          li.card-feature__list-item
            span= item


section.section-benefits.background-default.border-top
  .container
    .section-benefits__inner.border-left.border-right
      h2 Ontdek de <span class="scribble">voordelen<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 190 40" fill="none" data-scrollspy="animate"><path stroke="#D62028" d="M1.93213 1.76636C53.0465 1.76636 104.117 3.37128 155.247 3.37128C162.458 3.37128 169.727 4.17374 177.002 4.17374C185.725 4.17374 159.552 4.39743 150.833 4.12916C136.914 3.70088 123.305 3.89431 109.373 4.21832C94.9952 4.55268 80.6712 6.58112 66.3073 6.58112C57.5083 6.58112 48.7712 7.38358 40.0044 7.38358C36.972 7.38358 30.2044 7.18631 37.597 8.00771C55.4025 9.9861 73.8922 11.3959 91.8077 11.3959C105.979 11.3959 120.31 12.1983 134.338 12.1983" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span> van een duurzame Glasbeek installatie
      .section-benefits__cards.tab-content(data-tabs-content="tabs")
        .is-active(data-tab-content="tab1")
          +card-feature(
            'Glasbeek Electric',
            'electric',
            [
              'Duurzaam Solid state elektrisch verwarmingssysteem',
              'Herbruikbare zonne- en/of windenergie',
              'Ultrazuinige A-Kap oplossingen'
            ]
          )
        div(data-tab-content="tab2")
          +card-feature(
            'Glasbeek Hybrid',
            'hybrid',
            [
              'Duurzaam Solid state elektrisch verwarmingssysteem',
              'Herbruikbare zonne- en/of windenergie',
              'Krachtige Low-NOx brander'
            ]
          )
        div(data-tab-content="tab3")
          +card-feature(
            'Glasbeek Classic',
            'classic',
            [
              'Compatibel met bijmengen waterstof',
              'Herbruikbare zonne- en/of windenergie',
              'Krachtige Low-NOx brander'
            ]
          )
      .cards-tabs(data-tabs="tabs")
        button.cards-tabs__tab-button.tab-button.is-active(data-tab="tab1")
          +svg('electric')
        button.cards-tabs__tab-button.tab-button(data-tab="tab2")
          +svg('hybrid')
        button.cards-tabs__tab-button.tab-button(data-tab="tab3")
          +svg('classic')
      .section-benefits__links
        a(href="/")
          span.visible-laptop Lees meer over onze duurzame installaties
          span.hidden-laptop Meer informatie
      .sun.rellax(data-rellax-mobile-speed="1" data-rellax-speed="2")
      .cloud1.rellax(data-rellax-mobile-speed="-1" data-rellax-speed="-3")
      .cloud2.rellax(data-rellax-mobile-speed="-1" data-rellax-speed="-3")
      .cloud3.rellax(data-rellax-mobile-speed="-1" data-rellax-speed="-3")

