section.section-why.background-default
  .container
    .section-why__header.border-left.border-right
      .background-default.section-why__text
        h2 Waarom <span class="scribble">Glasbeek?<svg height="48" viewBox="0 0 216 48" fill="none" data-scrollspy="animate" xmlns="http://www.w3.org/2000/svg"><path stroke="#D62028" d="M1.62121 2.93122C69.3607 2.93122 137.43 1.89038 204.931 1.89038C269.882 1.89038 -54.7715 8.1354 10.1792 8.1354C54.8455 8.1354 99.6979 10.2171 144.216 10.2171" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span>
        p Met onze ruim 100 jaar ervaring kun je wel stellen dat we veel uitdagende projecten hebben uitgevoerd. Nieuwsgierig wat voor u kunnen betekenen, neem contact met ons op en we vertellen u er alles over. 
        <svg height="60" class="arrow-bottom" data-scrollspy="animate" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 59.5 181"><path class="arrow-body" d="M32.5 2.4S104.2 90 4.4 174.9" style="fill:none;stroke:#d62028;stroke-linecap:round;stroke-width:3px;stroke-miterlimit:10"/><path class="arrow-head" d="m4.8 162.6-2.7 13.5 12.4 2.5" style="stroke-linejoin:round;fill:none;stroke:#d62028;stroke-linecap:round;stroke-width:3px"/></svg>
      .background-muted.section-why__contact-wrap
        img(src="images/service-worker.png" alt="service worker." width="697" height="465")
        .section-why__link-wrap
          h3 Hoe kunnen we u helpen?
          a(href="#contact").button.button--primary
            span.visible-laptop Neem contact op
            span.hidden-laptop Contact
    .section-why__cards-wrap.border-left.border-right
      ul.section-why__cards.counter-list.tab-content(data-tabs-content="tabs-why")
        li.is-active(data-tab-content="tab1why")
          .card-why(style="background-image: url(images/card-why1.jpg)" data-scrollspy="animate__slideInLeft")
            h3 Ontwerp aangepast aan wensen klant
            p Het is uw product, organisatie en wensen waar wij onze producten op ontwerpen. Bij ons staat de klant centraal van eerste ontwerp tot oplevering, opleiding en service. 
        li(data-tab-content="tab2why" data-scrollspy="animate__slideInRight")
          .card-why(style="background-image: url(images/card-why2.jpg)")
            h3 Duurzaam productieproces
            p Met onze geavanceerde productiemethoden en automatisering zorgen we voor een stabiele en duurzame productie. Zo kunnen we de kwaliteit garanderen die we beloven.
        li(data-tab-content="tab3why" data-scrollspy="animate__slideInLeft")
          .card-why(style="background-image: url(images/card-why3.jpg)")
            h3 Grenzeloos enthousiast voor vernieuwing
            p Voorop lopen in innovatie en verduurzamen van nieuwe en bestaande installaties is een klant gerichte strategie die we graag samen met u tot in perfectie doorvoeren.
        li(data-tab-content="tab4why" data-scrollspy="animate__slideInRight")
          .card-why(style="background-image: url(images/card-why4.jpg)")
            h3 Snelle levertijden
            p Productie engineering, produceren, monteren en service vanuit onze eigen twee fabrieken garandeert korte en flexibele levertijden.
        li(data-tab-content="tab5why" data-scrollspy="animate__slideInLeft")
          .card-why(style="background-image: url(images/card-why3.jpg)")
            h3 Grenzeloos enthousiast voor vernieuwing
            p Voorop lopen in innovatie en verduurzamen van nieuwe en bestaande installaties is een klant gerichte strategie die we graag samen met u tot in perfectie doorvoeren.
        li(data-tab-content="tab6why" data-scrollspy="animate__slideInRight")
          .card-why(style="background-image: url(images/card-why4.jpg)")
            h3 Snelle levertijden
            p Productie engineering, produceren, monteren en service vanuit onze eigen twee fabrieken garandeert korte en flexibele levertijden.
      .card-why-tabs(data-tabs="tabs-why")
        button.card-why-tabs__tab-button.tab-button.is-active(data-tab="tab1why") 1

        button.card-why-tabs__tab-button.tab-button(data-tab="tab2why") 2

        button.card-why-tabs__tab-button.tab-button(data-tab="tab3why") 3

        button.card-why-tabs__tab-button.tab-button(data-tab="tab4why") 4

        button.card-why-tabs__tab-button.tab-button(data-tab="tab5why") 5

        button.card-why-tabs__tab-button.tab-button(data-tab="tab6why") 6
