section.section.section-news.pt-0.pb-0
  .container
    .section-news__inner.background-primary
      h2 <span class="scribble">Nieuws<svg fill="none" viewBox="0 0 154 40" xmlns="http://www.w3.org/2000/svg" data-scrollspy="animate"><path stroke="#fff" d="M1.56079 2.1062C50.5352 2.1062 99.5182 3.24775 148.503 3.24775C178.966 3.24775 87.6221 5.56539 57.1796 6.67239C50.7771 6.90521 44.2072 7.81394 37.8367 7.81394C37.6446 7.81394 36.4402 7.81394 36.7902 7.81394C40.7337 7.81394 44.6766 7.78233 48.618 7.94078C60.5628 8.42098 73.0174 8.06978 84.8621 9.81165C86.8239 10.1002 89.2453 10.6678 91.1723 10.6678" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span>
      .section-news__list
        +slider-news
      .section-news__title
        h3 Altijd op de hoogte van de laatste ontwikkelingen en innovaties binnen Glasbeek