section.section.section-contact-us.pt-0.pb-0
  .container
    .background-primary
      img(src="images/portrait-service.png" width="430" height="448" alt="service.")
      .section-contact-us__text
        h2 Samen uw productie verduurzamen? Wij staan voor u klaar.
        .section-contact-us__actions
          a(href="/").button Stuur een bericht
          a(href="tel:+0182322422") Of bel 0182 322 422