section.section-why.background-default
  .container
    .section-why__header.border-left.border-right
      .background-default.section-why__text
        h2 Waarom <span class="scribble">Glasbeek?<svg viewBox="0 0 216 48" fill="none" data-scrollspy="animate" xmlns="http://www.w3.org/2000/svg"><path stroke="#D62028" d="M1.62121 2.93122C69.3607 2.93122 137.43 1.89038 204.931 1.89038C269.882 1.89038 -54.7715 8.1354 10.1792 8.1354C54.8455 8.1354 99.6979 10.2171 144.216 10.2171" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span>
        p Met onze ruim 100 jaar ervaring kun je wel stellen dat we veel uitdagende projecten hebben uitgevoerd. Nieuwsgierig wat voor u kunnen betekenen, neem contact met ons op en we vertellen u er alles over. 
      .background-muted.section-why__contact-wrap
        img(src="images/service-worker.png" alt="service worker." width="697" height="465")
        .section-why__link-wrap
          h3 Hoe kunnen we u helpen?
          a(href="#contact").button 
            span.visible-laptop Neem contact op
            span.hidden-laptop Contact
      <svg class="arrow-bottom" width="58" height="181" viewBox="0 0 58 181" fill="none" xmlns="http://www.w3.org/2000/svg" data-scrollspy="animate__fadeInDown"><path fill="#D62028" d="M33.1987 1.10512C32.7045 0.440268 31.7648 0.301948 31.1 0.796176C30.4351 1.2904 30.2968 2.23002 30.791 2.89488L33.1987 1.10512ZM54.3842 55.666L52.9001 55.8835L54.3842 55.666ZM0.529129 176.291C0.366661 177.104 0.893486 177.894 1.70583 178.056L14.9437 180.704C15.756 180.866 16.5462 180.34 16.7087 179.527C16.8712 178.715 16.3444 177.925 15.532 177.762L3.76505 175.409L6.11844 163.642C6.28091 162.83 5.75408 162.039 4.94174 161.877C4.1294 161.714 3.33916 162.241 3.1767 163.054L0.529129 176.291ZM30.791 2.89488C42.4629 18.5962 50.0479 36.4221 52.9001 55.8835L55.8684 55.4485C52.9415 35.4771 45.1549 17.1891 33.1987 1.10512L30.791 2.89488ZM52.9001 55.8835C55.8311 75.8838 54.7366 90.9869 51.8279 102.99C48.9186 114.996 44.1777 123.975 39.7001 131.752L42.2999 133.248C46.8274 125.385 51.7341 116.115 54.7435 103.697C57.7533 91.2764 58.8483 75.7823 55.8684 55.4485L52.9001 55.8835ZM39.7001 131.752C30.7687 147.263 15.1945 165.986 1.16795 175.337L2.83205 177.834C17.3614 168.147 33.221 149.016 42.2999 133.248L39.7001 131.752Z"/></svg>
    .section-why__cards-wrap.border-left.border-right
      ul.section-why__cards.counter-list.tab-content(data-tabs-content="tabs-why")
        li.is-active(data-tab-content="tab1why")
          .card-why(style="background-image: url(images/card-why1.jpg)")
            h3 Ontwerp aangepast aan wensen klant
            p Het is uw product, organisatie en wensen waar wij onze producten op ontwerpen. Bij ons staat de klant centraal van eerste ontwerp tot oplevering, opleiding en service. 
        li(data-tab-content="tab2why")
          .card-why(style="background-image: url(images/card-why2.jpg)")
            h3 Duurzaam productieproces
            p Met onze geavanceerde productiemethoden en automatisering zorgen we voor een stabiele en duurzame productie. Zo kunnen we de kwaliteit garanderen die we beloven.
        li(data-tab-content="tab3why")
          .card-why(style="background-image: url(images/card-why3.jpg)")
            h3 Grenzeloos enthousiast voor vernieuwing
            p Voorop lopen in innovatie en verduurzamen van nieuwe en bestaande installaties is een klant gerichte strategie die we graag samen met u tot in perfectie doorvoeren.
        li(data-tab-content="tab4why")
          .card-why(style="background-image: url(images/card-why4.jpg)")
            h3 Snelle levertijden
            p Productie engineering, produceren, monteren en service vanuit onze eigen twee fabrieken garandeert korte en flexibele levertijden.
      .card-why-tabs(data-tabs="tabs-why")
        button.card-why-tabs__tab-button.tab-button.is-active(data-tab="tab1why") 1

        button.card-why-tabs__tab-button.tab-button(data-tab="tab2why") 2

        button.card-why-tabs__tab-button.tab-button(data-tab="tab3why") 3

        button.card-why-tabs__tab-button.tab-button(data-tab="tab4why") 4
