section.services.background-default
  .container
    .services__inner.border-left.border-right
      .services__list
        ul.list.list--services
          li
            span Duurzame warmteoplossingen
          li
            span Hoge energie-efficiëntie
          li
            span Hybride verwarmingssystemen
          li
            span Warmte-terugwinningssystemen
        a(href="/").link-hover
          span.visible-laptop Ontdek onze duurzame installaties
          span.hidden-laptop Meer informatie
      .services__slider
        .swiper.slider-services
          .swiper-wrapper
            .swiper-slide
              .services-slide
                a(href="").card.card--service
                  img(src="images/card-why1.jpg" width="405" height="180" alt="")
                  .card__body
                    h3 Installaties
                    p Vestibulum non condimentum risus, in imperdiet ante
            .swiper-slide
              .services-slide
                a(href="").card.card--service
                  img(src="images/card-why1.jpg" width="405" height="180" alt="")
                  .card__body
                    h3 Apparatuur
                    p Vestibulum non condimentum risus, in imperdiet ante
            .swiper-slide
              .services-slide
                a(href="").card.card--service
                  img(src="images/card-why1.jpg" width="405" height="180" alt="")
                  .card__body
                    h3 Service
                    p Vestibulum non condimentum risus, in imperdiet ante
            .swiper-slide
              .services-slide
                a(href="").card.card--service
                  img(src="images/card-why1.jpg" width="405" height="180" alt="")
                  .card__body
                    h3 Installaties
                    p Vestibulum non condimentum risus, in imperdiet ante
        .slider-services__controls
          .swiper-button-prev
            +svg('arrow-left')
          .swiper-button-next
            +svg('arrow-right')
