mixin menu()
  nav.menu
    .menu-splash
      .menu-splash__title
        span Leading in
        b
          span.scribble sustainable
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 350 60" data-scrollspy="animate"><path stroke="#fff" d="M2 2.62545C20.7733 2.62545 39.6523 2.74118 58.5197 2.74118C132.681 2.74118 207.291 1.1128 281.439 2.68332C303.269 3.14569 324.969 3.66707 346.838 3.66707C372.471 3.66707 295.626 5.34152 269.999 5.69243C222.292 6.34566 174.54 7.68025 126.821 7.83353C112.185 7.88055 68.3406 8.14229 82.9375 8.87515C133.196 11.3984 284.451 12 234.055 12" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg>
        span design
    ul.menu__list
      li.menu__item
        a.menu__link.active(href='/') Home
      li.menu__item.menu__item--submenu
        a.menu__link(href='/products') Producten
        button.menu__link.dropdown.js-dropdown Producten
        ul.menu__list
          li.menu__item
            a.menu__link(href='/pretreatment') Voorbehandeling
          li.menu__item
            a.menu__link(href='/powder-coating') Poederlakken
          li.menu__item
            a.menu__link(href='/ovens') Ovens
          li.menu__item
            a.menu__link(href='/transport') Transport
      li.menu__item
        a.menu__link(href='/service') Service
      li.menu__item
        a.menu__link(href='/glasbeek') Glasbeek
      li.menu__item
        a.menu__link(href='/news') Nieuws
      li.menu__item
        a.menu__link(href='/contact') Contact