mixin menu()
  nav.menu
    ul.menu__list
      li.menu__item
        a.menu__link.active(href='/') Home
      li.menu__item.menu__item--submenu
        a.menu__link(href='/products') Producten
        button.menu__link.dropdown.js-dropdown Producten
        ul.menu__list
          li.menu__item
            a.menu__link(href='/pretreatment') Voorbehandeling
          li.menu__item
            a.menu__link(href='/powder-coating') Poederlakken
          li.menu__item
            a.menu__link(href='/ovens') Ovens
          li.menu__item
            a.menu__link(href='/transport') Transport
      li.menu__item
        a.menu__link(href='/service') Service
      li.menu__item
        a.menu__link(href='/glasbeek') Glasbeek
      li.menu__item
        a.menu__link(href='/news') Nieuws
      li.menu__item
        a.menu__link(href='/contact') Contact