extends pug/base

prepend vars
  - title = 'Homepage'

append vars

block content
  .container
    br
    h2
      a(href="home.html") Homepage
    br
    h2
      a(href="pretreatment.html") Pretreatment
    br
    h2
      a(href="news.html") News
    br
    h2
      a(href="news-detail.html") News detail
    br
    h2
      a(href="contact.html") Contact
    br
    h2
      a(href="product.html") Product
    br
    h2
      a(href="service.html") Service