extends pug/base

prepend vars
  - title = 'News Detail'

append vars

block content
  +page-header-news-detail(
    'Nieuwe poederlakinstallatie bij Signatekst N.V.'
  )
  section.page-news-item.background-default
    .container
      .page-news-item__wrap
        .page-news-item__inner.border-left.border-right
          article.article.background-default
            p Deze maand heeft Glasbeek een nieuwe poederlakinstallatie opgeleverd bij Signatekst N.V.

            p De installatie bestaat uit:
            ul
              li Takt-sproeitunnel
              li Takt-droogoven
              li Gema snelkleurwisselpoedercabine
              li Takt-moffeloven
              li Power & Free transportsysteem
              li PLC-besturing met HMI-schermen
            ul
              li Takt-sproeitunnel
              li Takt-droogoven
              li Gema snelkleurwisselpoedercabine
              li Takt-moffeloven
              li Power & Free transportsysteem
              li PLC-besturing met HMI-schermen
            ul
              li Takt-sproeitunnel
              li Takt-droogoven
              li Gema snelkleurwisselpoedercabine
              li Takt-moffeloven
              li Power & Free transportsysteem
              li PLC-besturing met HMI-schermen
            ul
              li Takt-sproeitunnel
              li Takt-droogoven
              li Gema snelkleurwisselpoedercabine
              li Takt-moffeloven
              li Power & Free transportsysteem
              li PLC-besturing met HMI-schermen
            ul
              li Takt-sproeitunnel
              li Takt-droogoven
              li Gema snelkleurwisselpoedercabine
              li Takt-moffeloven
              li Power & Free transportsysteem
              li PLC-besturing met HMI-schermen
          .article__slider
            +slider-news-item