extends pug/base

prepend vars
  - title = 'Product'

append vars

block content 
  +page-header-slider(
    'Sproeikamer',
    'Een goede voorbehandeling is cruciaal voor een hoogwaardige oppervlakteafwerking. Onze sproeikamers bieden een efficiënte en duurzame oplossing voor het reinigen, ontvetten en activeren van oppervlakken. Door de toepassing van de nieuwste technologieën verbruiken onze installaties minder water, chemicaliën en energie, zonder in te leveren op kwaliteit.'
    )
  section.product.background-default
    .container
      .product__details.border-left.border-right
        .product__details-text
          .product__details-column
            h2 Innovatieve technologie voor <span class="scribble">maximale<svg height="30" viewBox="0 0 158 30" data-scrollspy="animate" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="#D62028" d="M2 4.67201C55.1205 4.67201 94.9554 1.95422 147.889 1.95422C198.823 1.95422 -18.6199 14.3867 32.3136 14.3867C55.3366 14.3867 73.7551 14.3867 101.843 14.3867" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span> prestaties
            p Bij Glasbeek ontwikkelen we sproeikamers die zijn afgestemd op uw productieproces. Dankzij geavanceerde technieken zoals:
            ul 
              li  
                p <strong> Energiezuinige pompen</strong> – Lagere energiekosten en minder onderhoud.
              li  
                p  <strong>Automatische spoelwaterregeling</strong> – Efficiënt waterbeheer voor minimaal verbruik.
              li  
                p <strong>Geoptimaliseerde sproeitechnieken</strong> – Een gelijkmatige en effectieve behandeling van elk product. 
            p Onze installaties zijn ontworpen om continu topprestaties te leveren, met minimale impact op het milieu.
          .product__details-column 
            h2 <span class="scribble">Duurzaamheid<svg height="30" viewBox="0 0 244 30" data-scrollspy="animate" fill="none" xmlns="http://www.w3.org/2000/svg"><path stroke="#D62028" d="M2.02124 4.50139C85.9163 4.50139 138.092 1.58539 221.693 1.58539C302.134 1.58539 121.856 8.05256 82.2448 10.0735" style="fill:none;stroke-linecap:round;stroke-miterlimit:10;stroke-width:3px"/></svg></span> en maatwerk
            p Met onze sproeikamers bespaart u niet alleen op operationele kosten, maar draagt u ook bij aan een <b>duurzamere productie</b>. Wij optimaliseren het verbruik van hulpbronnen en verminderen afvalstromen, zodat uw productieproces voldoet aan de strengste milieunormen.  
            p Elke sector en elk productieproces stelt unieke eisen aan oppervlaktebehandeling. Daarom leveren wij sproeikamers die <b>volledig op maat</b> worden ontworpen. Of het nu gaat om kleine series of grootschalige industriële toepassingen, wij bieden een oplossing die perfect aansluit op uw wensen. 
  section
    .container
      .background-primary.poster-wrap
        img(src="images/portrait-woman.png" width="430" height="448" alt="service.")
        .poster__text
          h2 Ontdek de mogelijkheden. Wij denken graag met u mee!
          .poster__actions
            a(href="/").button Stuur een bericht
            a(href="tel:+0182322422") Of bel 0182 322 422
  section.section.background-default.section-equipment.pt-0.pb-0
    .container
      .section-equipment__cards.border-left.border-right 
        h2 Meer voorbehandelingsinstallaties
        .section-equipment__cards-wrap
          div 
            a(href="/").card-link 
              img.card-link__image(src="images/card-why1.jpg" width="400" height="228" alt="")
              .card-link__body
                div.title Sproeikamer
                +svg('arrow-right')
          div 
            a(href="/").card-link 
              img.card-link__image(src="images/card-why1.jpg" width="400" height="228" alt="")
              .card-link__body
                div.title Sproeitunnel
                +svg('arrow-right')
          div 
            a(href="/").card-link 
              img.card-link__image(src="images/card-why1.jpg" width="400" height="228" alt="")
              .card-link__body
                div.title Badenreeks
                +svg('arrow-right')
    .section-bottom-border
      .container