// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "vendor";
@import "reset";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "base";
@import "helpers";
@import "typography";
@import "components";

body .header,
body .main,
body .footer {
    opacity: 0;
}

body:has(.splash.hidden) .header,
body:has(.splash.hidden) .main,
body:has(.splash.hidden) .footer {
    opacity: 1;
}