// stylelint-disable at-rule-empty-line-before
@import "variables";
@import "vendor";
@import "reset";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "base";
@import "helpers";
@import "typography";
@import "components";

body:has(.splash:not(.loaded)) .header,
body:has(.splash:not(.loaded)) .main,
body:has(.splash:not(.loaded)) .footer {
    opacity: 0;
}

body:has(.splash.loaded) .header,
body:has(.splash.loaded) .main,
body:has(.splash.loaded) .footer {
    opacity: 1;
}